.track-main-frame {
    display: flex;
    width: 1328px;
    height: 900px;
    background: black;
    margin-left: 10px;
    border-radius: 25px;
    
}

.track-icon-frame {
    display: flex;
    height: 900px;
    width: 663px;
    justify-content: center;
    align-items: center;
}

.track-icon {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.tracks-in-playlist {
    width: 663px;
    height: 900px;
    display: flex;
    flex-direction: column;
}